 * {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        margin: 0;
        height: 100vh;
        background: linear-gradient(135deg, #fbc2eb, #f9c5d1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 380px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 25px;
        padding: 30px;
        text-align: center;
        box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    }

    h1 {
        margin: 0;
        color: #333;
    }

    p {
        color: #555;
        margin-top: 10px;
    }

    #question {
        margin: 25px 0;
        padding: 15px;
        background: rgba(255,255,255,0.6);
        border-radius: 20px;
        color: #444;
        font-size: 15px;
    }

    /* CONTENEDOR DE BOTONES */
    .buttons-box {
        position: relative;
        height: 120px;
        margin-top: 20px;
        background: rgba(255,255,255,0.4);
        border-radius: 20px;
        overflow: hidden;
    }

    button {
        border: none;
        padding: 10px 22px;
        border-radius: 25px;
        font-size: 15px;
        cursor: pointer;
        transition: transform 0.2s ease;
        position: absolute;
    }

    #si {
        background: #222;
        color: #fff;
        left: 30%;
        top: 45px;
    }

    #no {
        background: #fff;
        color: #444;
        left: 55%;
        top: 45px;
        touch-action: manipulation;
    }

    .footer {
        margin-top: 15px;
        font-size: 12px;
        color: #666;
    }
    .no_quiere{
        font-size: 12px;
        color: rgb(42, 41, 41);
    }
    .link_si{
        text-decoration: none;
        color: white;
    }